.d-flex {
  display: flex;
}
.d-md-flex {
  @include media-breakpoint-up(md) {
    display: flex;
  }
}
.align-items-center-md {
  @include media-breakpoint-up(md) {
    align-items: center;
  }
}
.justify-content-end {
  justify-content: flex-end;
}
.d-none {
  display: none;
}
.d-md-none {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.d-lg-none {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.d-xl-none {
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
.d-md-block {
  @include media-breakpoint-up(md) {
    display: block;
  }
}
.d-lg-block {
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
.d-xl-block {
  @include media-breakpoint-up(xl) {
    display: block;
  }
}
.order-1 {
  @include media-breakpoint-up(xl) {
    order: -1;
  }
}
.m-btm-20 {
  margin-bottom: 20px;
  @include media-breakpoint-up(xl) {
    margin-bottom: 40px;
  }
}
.main-color {
  color: $main-color;
} 
.white-color {
  color: white;
} 