.d-flex {
  display: flex;
}
.justify-content-end {
  justify-content: flex-end;
}
.d-none {
  display: none;
}
.d-xl-none {
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
.d-xl-block {
  @include media-breakpoint-up(xl) {
    display: block;
  }
}
.order-1 {
  @include media-breakpoint-up(xl) {
    order: -1;
  }
}
.main-color {
  color: $main-color;
} 
.white-color {
  color: white;
} 
// bad decision
.padding-right-null {
  padding-right: 0 !important;
}