@mixin underline($width: null) {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    left: 10px;
    bottom: 5px;
    border-bottom: 2px solid $accent-color;
    @if $width != null {
      width: $width
    }
  }
}