$main-color: #323264;
$main-alt-color: #46466e;
$main-soft-color: #686887;
$accent-color: #f0145a;
$active-regular-color: #24a3ff;
$active-hover-color: #0085ff;
$active-active-color: #006ccf;
$gray-bg-color: #f5f5fa;
$gray-bg-alt-color: #ededf7;
$gray-text-color: #b3b3ba;
$gray-separator-color:  #e6e6f0;
$gradient-color: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft-color: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red-color: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%);
$gradient-super-soft-color: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-red-text-color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$main-font: 'TTNorms', sans-serif;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1360px
);
$grid-gutter-width: 40px;
$grid-gutter-half-width: $grid-gutter-width / 2;