.contacts-section {
  padding-top: 30px;
  padding-bottom: 40px;
  @include media-breakpoint-up(xl) {
    margin-bottom: 80px;
  }
}
.contacts-section__info {
  display: flex;
  flex-direction: column;
}
.contacts-section__info-town {
  @include pain-text(500);
  color: $main-color;
  padding-top: 10px
}
.contacts-section__info-street {
  @include pain-text;
  color: $main-color;
  padding-bottom: 20px;
  border-bottom: 4px solid $gray-separator-color;
}
.contacts-section__info-tel {
  @include pain-text;
  color: $main-color;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}
.contacts-section__info-email {
  @include pain-text;
  color: $active-regular-color;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.border {
  border-bottom: 4px solid $gray-separator-color;
}
.contacts-section__info-social {
  color: $active-regular-color;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.social-icon {
  font-size: 38px;
}
.social-text {
  @include spacing-link-big;
  padding-left: 10px;
  display: inline-flex;
  flex-direction: column;
}
.contacts-section__form {
  background-color: $gray-bg-color;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 40px;
  @include media-breakpoint-up(sm) {
    border-radius: 12px;
    margin-right: 0;
    margin-left: 0;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}
.contacts-section__form-title {
  @include h2;
  color: $accent-color;
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(xl) {
    background-image: $gradient-red-text-color;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
.contacts-section__form-user-message,
.contacts-section__form-user-name,
.contacts-section__form-user-email {
  @include sub-pain-text;
  color: $gray-text-color;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}
.contacts-section__form-text {
  @include h3-caps;
  color: $gray-text-color;
  padding-bottom: 20px;
}
.contacts-section__form-user-phone {
  @include sub-pain-text;
  color: $gray-text-color;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
}
.contacts-section__form-send-btn {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background-color: $active-regular-color;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding: 16px 73px;
  margin-right: auto;
  margin-left: auto;
}
.contacts-iframe {
  width: 100%;
}